/* ===================================================== */
/* Page:                                     Get Started */
/* Component:                                 Stylesheet */
/* Project Name:                      Launching Balloons */
/* Project URL:                www.launchingballoons.com */
/* Author(s):       Andrew Hill - andrewjrhill@gmail.com */
/*                    Cole Gentry - peapod2007@gmail.com */
/* ===================================================== */


/* ==================== */
/*  FULL IMAGE SECTION  */
/* ==================== */

.get-started .full-image {
  background-image: url('../img/global/get-started-compressed.jpg');
  background-position: 0 -390px;
}
.get-started .full-image p {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

table { 
  width: 50%; 
  border-collapse: collapse; 
  margin:auto;
  border: 1px solid #fff; 
}
tr {
  border: 1px solid #fff;
}
th { 
  background: #FFFFFF; 
  color: #283E56; 
  font-weight: bold; 
  padding: 6px; 
  text-align: center; 
}
td { 
  padding: 6px; 
  text-align: center; 
  border: 1px solid #fff;
}
.dark-section {
  border-bottom: 5px solid #37b0e9;
}
.img-rsp{
  max-width: 50%;
  height: auto;
}
.single-item .img-rsp{
  max-width: 100%;
  height: auto;
}
.light-section li {
  margin-top: 1.5%;
  padding-left: 0;
  margin-left: 0;
}
.light-section ol {
  display: inline-block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.light-section ol li {
  text-align: left;
}
.light-section h3 {
  text-align: center;
}
.dark-section h3 {
  text-align: center;
  margin: 4%;
  text-decoration: underline;
}
.supplies-table {
  margin-top: 2%;
}
.supplies-table a {
  color: #fff;
  font-weight: bold;
}
.supplies-table a:hover {
  color: #386799;
  text-decoration: none;
  font-weight: bold;
}
#required { 
  background: #37B0E9; 
}
.payload tr:nth-of-type(odd) {
  border: 1px solid #fff;
}
.payload table { 
  width: 80%; 
  border-collapse: collapse; 
  margin:auto;
  border: 1px solid #283E56; 
}
.payload tr {
  border: 1px solid #283E56;
}
.payload th { 
  background: #37B0E9; 
  color: #fff; 
  font-weight: bold; 
  padding: 2px; 
  text-align: center; 
  border: 1px solid #283E56;
}
.payload td { 
  padding: 2px; 
  text-align: center; 
  border: 1px solid #283E56;
}
.payload h3 {
  margin-top: 4%;
  margin-bottom: 1%;
}
.payload ol {
  display: inline-block;
  margin: auto;
  text-align: left;
  width: 50%;
}
.payload li {
  text-align: left;
}
#payloadpart {
  width: 50%;
}
.info-block h3 {
  text-align: center;
}
#info-p {
  text-align: center;
}
.single-item {
  width: 40%;
  margin: auto;
  margin-top: 10%;
}
.slick-prev:before, .slick-next:before {
  color: #283E56;
}
