/* ===================================================== */
/* Page:                                       Home Page */
/* Component:                                 Stylesheet */
/* Project Name:                      Launching Balloons */
/* Project URL:                www.launchingballoons.com */
/* Author(s):       Andrew Hill - andrewjrhill@gmail.com */
/*                    Cole Gentry - peapod2007@gmail.com */
/* ===================================================== */

/* White: rgba(255, 255, 255, 1); */
/* Dark Blue: rgba(40, 62, 86, 1); */
/* Light Blue: rgba(55, 176, 233, 1); */
/* Yellow: rgba(254, 213, 102, 1); */
/* Red: rgba(173, 0, 0, 1); */


/* ==================== */
/*  FULL IMAGE SECTION  */
/* ==================== */

.home .full-image {
  background-image: url('../img/global/home-compressed.jpg');
}
.full-image .spacer {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}
.full-image h2 {
  font-weight: normal;
  font-size: 45px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.full-image h2 span {
  font-size: 54px;
  display: inline-block;
  padding: 20px 0;
}
.full-image p {
  font-size: 18px;
  line-height: 25px;
  max-width: 800px;
  margin-bottom: 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.full-image button {
  cursor: pointer;
  font-size: 14px;
  width: 200px;
  text-transform: uppercase;
  padding: 20px;
  margin: 30px 0;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgba(55, 176, 233, 1);
  color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -webkit-transition: background-color 0.4s linear;
}
.full-image button:hover{
  background-color: rgba(55, 176, 233, 0.4);
}


/* ==================== */
/*     LIGHT SECTION    */
/* ==================== */

.light-section {
  color: #386799;
  background-color: rgba(255, 255, 255, 1);
  padding: 75px;
  text-align: center;
}
.light-section .spacer {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}
.light-section h2 {
  font-weight: normal;
  font-size: 54px;
  padding-bottom: 50px;
}
.light-section h3 {
  font-weight: normal;
  font-size: 30px;
  padding-bottom: 30px;
}
.light-section p span {
  color: rgba(173, 0, 0, 1);
  font-weight: bold;
}
.light-section p {
  line-height: 25px;
}

/* ==================== */
/*      DARK SECTION    */
/* ==================== */

.dark-section {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 62, 86, 1);
  background-image: url('../img/collegues/background.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  border-top: 5px solid rgba(55, 176, 233, 1);
  padding: 75px;
}
.dark-section .spacer {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}
.dark-section h2 {
  font-weight: normal;
  font-size: 54px;
  text-align: center;
  padding-bottom: 50px;
}
.dark-section h3 {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.dark-section p {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}
.dark-section .info-block-container {
  width: 100%;
  padding-top: 75px;
}
.dark-section .info-block {
  width: 30%;
  padding: 0 1.66%;
  float: left;
}
.dark-section .info-block img {
  margin: 0 auto 30px auto;
  width: 94px;
  display: block;
}
.dark-section .info-block a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.dark-section .info-block a:hover {
  cursor: help;
  color: rgba(55, 176, 233, 1);
}
.dark-section .info-block .name {
  font-weight: bold;
  padding-bottom: 10px;
}
.dark-section .info-block .name span {
  color: rgba(55, 176, 233, 1);
  font-size: 14px;
  font-weight: normal;
  border-left: 1px solid rgba(55, 176, 233, 1);
  padding-left: 10px;
  margin-left: 10px;
}
.dark-section .info-block div, p {
  line-height: 28px;
}
