/* ===================================================== */
/* Page:                                        Launches */
/* Component:                                 Stylesheet */
/* Project Name:                      Launching Balloons */
/* Project URL:                www.launchingballoons.com */
/* Author(s):       Andrew Hill - andrewjrhill@gmail.com */
/*                    Cole Gentry - peapod2007@gmail.com */
/* ===================================================== */


/* ==================== */
/*  FULL IMAGE SECTION  */
/* ==================== */

.launches .full-image {
  background-image: url('../img/global/launches-compressed.jpg');
  background-position: 0 -690px;
}
.launches .full-image p {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 3%;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-rsp{
  max-width: 70%;
  height: auto;
}
.rawdata li {
  list-style-type: none;
  text-align: center;
}
  h3 {
  font-size: 2.3em;
  margin-bottom: 3%;
  font-weight: normal;
  text-align: center;
  }
h4 {
  text-decoration: underline;
  font-size: 22px;
  text-align: center;
  margin-top: 1%;
}
.rawdata a {
  color: #386799;
  font-weight: bold;
}
.rawdata a:hover {
  color: #386799;;
  text-decoration: none;
  font-weight: bold;
}
.collegues a:visited {
  color: #386799;
}
#altitude1 {
  margin-bottom: 1%;
}
.dark-section {
  border-bottom: 5px solid #37b0e9;
}
