/* ===================================================== */
/* Page:                                         Globals */
/* Component:                      Responsive Stylesheet */
/* Project Name:                      Launching Balloons */
/* Project URL:                www.launchingballoons.com */
/* Author(s):       Andrew Hill - andrewjrhill@gmail.com */
/*                    Cole Gentry - peapod2007@gmail.com */
/* ===================================================== */

@media screen and (max-width: 960px) {


/* ==================== */
/*      NAVIGATION      */
/* ==================== */

  .navigation {
    height: 150px;
    width: 100%;
    min-width: 100%;
  }
  .navigation .desktop {
    display: none;
  }
  .navigation .mobile {
    display: block;
  }
  .navigation .mobile ul {
    background-color: #e2e2e2;
    margin: 0;
    display: none;
    padding: 5px 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: 150px;
  }
  .navigation .mobile li {
    padding: 15px 0;
    margin: 0 40px;
    border-bottom: 1px solid #2e4662;
  }
  .navigation .mobile .last {
    border: none;
  }
  .navigation .mobile a {
    text-decoration: none;
    color: #283e56;
  }
  .navigation .wrapper {
    padding: 20px 0 0 0;
  }
  .logo {
    margin: 0 auto;
    text-align: center;
    float: none !important;
    font-size: 24px !important;
  }
  .mobile {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }
  .button {
    background-color: black;
    margin: 0 auto;
    background-color: #37b0e9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #283e56;
    font-size: 20px;
    padding: 10px 0;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
  }


  /* ==================== */
  /*        FOOTER        */
  /* ==================== */

  .footer {
    padding: 50px 40px 20px 40px;
  }
  .footer .affiliates {
    display: none;
  }
  .footer .logo {
    font-size: 18px;
  }
  .footer .logo span {
    display: none;
  }
  .footer .copyright {
    text-align: center;
  }
}
