/* ===================================================== */
/* Page:                                       Home Page */
/* Component:                      Responsive Stylesheet */
/* Project Name:                      Launching Balloons */
/* Project URL:                www.launchingballoons.com */
/* Author(s):       Andrew Hill - andrewjrhill@gmail.com */
/*                    Cole Gentry - peapod2007@gmail.com */
/* ===================================================== */

@media screen and (max-width: 960px) {


  /* ==================== */
  /*     INTRODUCTION     */
  /* ==================== */

  .intro {
    padding: 200px 35px 70px 35px;
  }
  .intro h2 {
    font-size: 25px;
  }
  .intro h2 span {
    font-weight: bold;
    font-size: 30px;
  }
  .intro button {
    margin: 30px 0 0 0;
  }


  /* ==================== */
  /*       PROCESS        */
  /* ==================== */

  .light-section {
    padding: 40px;
    text-align: left;
  }
  .light-section h2 {
    font-size: 24px;
  }
  .light-section h2 span {
    font-weight: bold;
    font-size: 30px;
  }


  /* ==================== */
  /*    MEET THE TEAM     */
  /* ==================== */

  .dark-section {
    padding: 40px;
  }
  .dark-section h2 {
    font-size: 25px;
    text-align: left !important;
  }
  .dark-section p {
    text-align: left !important;
  }
  .dark-section .info-block-container {
    padding-top: 0;
  }
  .dark-section .info-block {
    padding-top: 30px;
    float: none;
    width: 100%;
  }
}
